.text-animate{
    display: inline-block;
    // opacity: 0;
    animation: lightSpeedInLeft 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
    // animation-delay: 12s;
    
}
.text-animate-hover{
    display: inline-block;
    animation-fill-mode: both;
    min-width: 10px;
    &:hover{
    animation: rubberBand 1s ;
    // color: black;
    }
}

@for $i from 1 to 25 {
    .text-animate._#{$i}{
        // animation-delay: calc(1s + #{$i / ($i+10)}s);
    }
}