$primary-color:#03ABAA;
.home-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 5em;
    letter-spacing: 2px;
    .text{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    h2{
        font-size: 5rem;
        font-weight: 700;

    }
    h1{
        font-size: 6.5rem;
        font-weight: 700;

    }
    p{
        font-size: 2rem;
        font-weight: 600;
    }
    span{
        color: $primary-color;
    }
}